@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

::-webkit-scrollbar {
    width: var(--size-2);
    height: var(--size-2);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--surface-4);
    border-radius: var(--radius-round);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--surface-5);
}

.icon-button {
    display: flex;

    padding: var(--size-1);

    background: none;
    border: none;
    color: var(--text-3);

    cursor: pointer;

    &.is-active {
        color: var(--text-1);
    }

    &.is-success {
        color: var(--green-5);
    }

    &.is-danger {
        color: var(--red-5);
    }

    & svg {
        width: var(--size-3);
        height: var(--size-3);
    }
}

.spin {
    animation: spin 1s linear infinite;
}
